* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefae0;
}

li, a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 16px;
  color: #4f772d;
}

header h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 30px;
  color: #4f772d;
  background-color: #132a13;
}

header {  
  height: 50px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px 10%;
 background-color: #132a13;
}

nav ul {
  display: flex;
  background-color: #132a13;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  background-color: #132a13;
}

.navbar li a {
  transition: all 0.3s ease 0s;
}

.navbar li a:hover {
  color: #fb8500;
}