* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fefae0;
}

body {
    min-height: 100vh;
    background-color: #fefae0;
  }

  h1 {
    font-family: Geneva, Verdana, Tahoma, sans-serif;
  }

  img {
    display: flex;
    align-content: center;
  }
  
  li, a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 26px;
    color: #4f772d;
  }
  
  header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 30px;
    color: #4f772d;
    background-color: #132a13;
  }
  
  header {  
   height: 50px;
   min-width: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 10%;
   background-color: #132a13;
  }
  
  nav ul {
    display: flex;
    background-color: #132a13;
  }
  
  .navbar li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    background-color: #132a13;
  }
  
  .navbar li a {
    transition: all 0.3s ease 0s;
  }
  
  .navbar li a:hover {
    color: #fb8500;
  }

.container {
    display: flex;
    padding: 4.3rem;
    justify-content: center;
    align-content: center;
}

.aboutme {
    width: 900px;
    height: 400px;
    background-color: #4f772d;
    border: 5px #132a13 solid;

}

h2 {
    padding: 30px 20px 20px 30px;
    font-size: 43px;

}

p {
    font-size: 30px;
    line-height: 31px;
    padding: 0px 30px;
    text-align: left;

}

.myboy img {
    margin-right: 20px;
   height: 400px;
   width: 400px;

}

@media screen and (max-width: 768px) {
   
    header {  
        height: 200px;
        min-width: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #132a13;
       }
  
       header h1 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
        font-size: 50px;
        color: #4f772d;
        background-color: #132a13;
      }
      
      li, a {
        text-decoration: none;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        font-size: 35px;
        color: #4f772d;
      }

   
  

      h2 {
        padding: 30px 20px 10px 30px;
        font-size: 50px;
    
    }
    
    p {
        font-size: 35px;
        line-height: 50px;
        padding: 0px 30px;
        text-align: start;
    
    }

    .container {
        display: flex;
        margin-left: 50px;
        justify-content: center;
        flex-direction: column;
    }
    
    .aboutme {
        width: 700px;
        height: 800px;
        background-color: #4f772d;
        border: 5px solid #132a13;
    
    }
    .myboy img {
        padding-bottom: 40px;
        height: 700px;
        width: 700px;
     
     }
}