* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefae0;
  min-height: 100vh;
}

li, a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 16px;
  color: #4f772d;
}

header h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 30px;
  color: #4f772d;
  background-color: #132a13;
}

header {  
  height: 50px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px 10%;
 background-color: #132a13;
}

nav ul {
  display: flex;
  background-color: #132a13;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  background-color: #132a13;
}

.navbar li a {
  transition: all 0.3s ease 0s;
}

.navbar li a:hover {
  color: #fb8500;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 10px;


}

h2 {
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}

.container > div {

}

.duck {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  background-color: #fb8500;
  border: 5px#132a13 solid;
}
.duck img {
  padding: 10px;
  width: 200px;
  height:133.33px;
}

.nightly {
  grid-column: 3 / span 6;
  grid-row: 1 / span 2;
  background-color: purple;
  border: 5px#132a13 solid;
}
.nightly img {
  padding: 10px;
  width: 200px;
  height:133.33px;
}

.chrono {
  grid-column: 5 / span 6;
  background-color: purple;
  border: 5px#132a13 solid;

}
.chrono img {
  padding: 10px;
  width: 200px;
  height:133.33px;
}

.slideshow-container1 {
  grid-column: 1 / span 2;
  background-color: purple;
  border: 5px#132a13 solid;
}
.slideshow-container1 img {
  padding: 10px;
  width: 200px;
  height:133.33px;
}

.overcast {
  grid-column: 2 / span 4;
  background-color: purple;
  border: 5px#132a13 solid;
}
.overcast img {
  padding: 10px;
  width: 200px;
  height:133.33px;
}
