* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

 body {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Urbanist','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #A5A58D;
 }

 h1 {
    font-family: 'Tilt Warp','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFE8D6;
 }

 h2 {
    color: #FFE8D6;
 }

 h3 {
    color: #FFE8D6;
 }

 p { 
    font-family: 'Urbanist','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFE8D6;
 }



 .content {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
 }

 .songLibrary {
    height: 100vh;
    width: 60%;
    background-color: #6B705C;
    padding: 20px;
    border:  #474A3C 1px solid;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}

 .playing {
    height: 100vh;;
    width: 30%;
    display: flex;
    flex-direction: column;
 }

 .Playlist {
    background-color: #6B705C;
    width: 100%;
    height: 50%;
    padding: 20px;
    border:  #474A3C 1px solid;
    border-radius: 5%;

 }

 .player {
    background-color: #6B705C;
    width: 100%;
    height: 50%;
    padding: 20px;
    margin-top: 30px;
    border:  #474A3C 0.5px solid;
    border-radius: 5%;
 }

