body {
   
   transition: background-color 0.3s, color 0.3s;
 }

 .container {
   padding: 20px;
 }
 
 .bg-dark-mode {
   background-color: #354f52  !important;
 }
 
 .bg-light-green {
   background-color: #cad2c5 !important;
 }
 
 .text-dark {
   color: #333 !important;
 }
 
 .navbar {
   padding: 20px;
   transition: background-color 0.3s;
 }
 
 button {
   transition: background-color 0.3s;
 }
 button#searchBtn {
   background-color: #8fbc8f;

 }

 button:hover {
   background-color: #52796f;
 }


button#shuffleBtn {
   background-color: #8fbc8f;
 }
 
 button#playAgainBtn {
   background-color: #84a98c;
 }

 button#nextBtn {
   background-color: #84a98c;
 }

 button#prevBtn {
   background-color: #8fbc8f;
 }
 
 h1 {

   font-family: 'Tilt Warp','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 40px;
 }

 h4 {
  
   font-family: 'Urbanist','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h5 {
 
   font-family: 'Urbanist','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.songsChangebuttons {
   display: flex;
   justify-content: center;
   gap: 20px;
}